<h1>Ex 5 - Material Filtered Autocomplete</h1>

<!-- Every control should be placed in a matform field-->
<mat-form-field>
    <!-- this goroups tha label -->
    <mat-label>Country</mat-label>
    <!-- The input, which is:  
        - a matInput ... duh
        - has the matAutocomplete property bound to the autocomplate component via the template reference (countries)
        - is also using reactive forms (instead of ngmodel) and is tied to the control variable from the ts file 
        - hides the required marker (don't ask me why... I wanted to)
        - you may also set the color and the appearance ... yes that's makeup  
    -->
    <input matInput type="text" [matAutocomplete]="countries" [formControl]="control" hideRequiredMarker> 
    <mat-autocomplete #countries="matAutocomplete">
        <!-- the auto complete component iterates across all filtered countries ... note async pipe is needed since we are dealing with an observable array of countries -->
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name"> <!-- country name property -->
                {{country.name}}
            </mat-option>
    </mat-autocomplete>
    <!-- and we finally show a hint ... -->
    <mat-hint align="end">Start typing.. :)</mat-hint>
</mat-form-field>
