<mat-sidenav-container>
    <mat-sidenav [(opened)]=opened mode="over"> <!-- over side push-->
            SideNav
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="navbar">
            <div>
                <mat-icon (click)="opened = !opened">menu</mat-icon> 
                Material Toolbar
            </div>
            <div>
                <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
                    Home
                </button>
                <button mat-flat-button color="primary">
                    About
                </button>
                <button mat-flat-button color="primary">
                    Services
                </button>
            </div>
        </mat-toolbar>
        <br>
        <p class="mat-display-3">Forms and Input</p>
        <p>Forms and Input elements in action .... </p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p class="mat-display-2">Input </p>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
            <input matInput placeholder="label" value="value">
        </mat-form-field>
        <mat-divider></mat-divider> 
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
            <input matInput placeholder="label" value="value">
        </mat-form-field> 
        <mat-divider></mat-divider>
        <mat-form-field floatLabel="auto">
            <input matInput placeholder="label" value="value">
        </mat-form-field> 
        <mat-divider></mat-divider>
        <mat-form-field floatLabel="auto" color="warn">
            <input matInput placeholder="label" value="value">
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p class="mat-display-2">Select </p>
        <mat-form-field>
        <mat-select placeholder="Please Select a Country" [(ngModel)]="selectedValue" name="item">
            <mat-option *ngFor="let item of items" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <h1>
            {{selectedValue | json }}
        </h1>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p class="mat-display-2">Autocomplete - using string array</p>
        <mat-form-field>
            <input matInput placeholder="label" [matAutocomplete]="auto" value="value">
            <mat-autocomplete #auto="matAutocomplete"> <!-- template reference var-->
                <mat-option *ngFor="let option of options" [value]="option" >
                    {{option}}
                </mat-option>
             </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p class="mat-display-2">Autocomplete - using object array</p>
        <mat-form-field>
            <input matInput placeholder="label" [matAutocomplete]="autoObject" value="value">
            <mat-autocomplete #autoObject="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option" >
                    {{option}}
                </mat-option>
             </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p class="mat-display-2">Autocomplete with Predictive filtering</p>
        <mat-form-field>
            <input matInput placeholder="label" [matAutocomplete]=auto value="value">
            <mat-autocomplete #auto=matAutocomplete>
                <mat-option *ngFor="let option of options" [value]=option >
                    {{option}}
                </mat-option>
             </mat-autocomplete>
        </mat-form-field>
    </mat-sidenav-content>
  <mat-sidenav-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1 </button>
    <button mat-menu-item> Item 2 </button>
    <button mat-menu-item [matMenuTriggerData]="{data:data}" [matMenuTriggerFor]="submenu">Item 3 </button>
</mat-menu>

<mat-menu #submenu="matMenu" >
   <ng-template matMenuContent let-data="data">
         <button mat-menu-item> Subitem 1 </button>
         <button mat-menu-item> Subitem 2 {{data.age}} </button>
         <button mat-menu-item> Subitem 3 {{data.name}} </button>
   </ng-template>    
</mat-menu>